    <h2>{{ statesListCtrl.title }}</h2>
    <div ng-if="statesListCtrl.loaded" id="states_done">
    </div>

    <div ng-if="statesListCtrl.showFilter">
        <input ng-model="statesListCtrl.statesFilter">
    </div>
    <div class="col-md-12">
        <div class="col-md-4 states-list" id="{{ statesListCtrl.baseId }}">
            <div ng-repeat="state in statesListCtrl.statesList | filter:{state: statesListCtrl.statesFilter}"
                 id="{{ statesListCtrl.baseId }}{{ $index }}"
                 ng-class="{'state-selected': state.selected}"
                 class="state"
                 ng-dblclick="statesListCtrl.ToggleSelect(state.state)"
                 ng-click="$evalAsync(statesListCtrl.ShowStateInfo(state.state))">
                {{ state.state }}
            </div>

        </div>
        <div class="col-md-8">
            <div ng-if="statesListCtrl.selectedState">
                <h3>{{ statesListCtrl.selectedState.state }}</h3>
                <h4 class="population" ng-class="{'population-mismatch': !statesListCtrl.populationMatch}">
                    Population: {{ statesListCtrl.selectedState.population}}
                </h4>
                <h4 class="counties">Number of Counties: {{ statesListCtrl.selectedState.counties}}</h4>
                <div class="counties-list">
                    <div ng-repeat="county in statesListCtrl.countiesList">
                        {{ county.county }}: Population - {{ county.population }}
                    </div>
                </div>
            </div>
        </div>
    </div>
